PORT=8081
FRONTEND_URL=http://127.0.0.1:8080

POSTGRES_HOST=host.docker.internal
POSTGRES_PORT=5433
POSTGRES_USER=medisena
POSTGRES_PASSWORD=medisena_local
MEDISENA_DB=medisena

JWT_SECRET=definir_cadena_de_al_menos_32_caracteres
JWT_REFRESH_SECRET=otra_cadena_de_al_menos_32_caracteres
